body {
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0088cc;
    font-size: 24px;
}

#menu p {
    font-size: 18px;
    margin-bottom: 20px;
}

#game h2 {
    font-size: 32px;
    color: #333333;
    margin-bottom: 20px;
}

#timer, #score {
    font-size: 20px;
    color: #666666;
    margin-bottom: 10px;
}

.tg-button {
    background-color: #0088cc;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tg-button:hover {
    background-color: #006699;
}

.tg-button:active {
    background-color: #005580;
}

.hidden {
    display: none;
}
